# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SPSS

# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit
3. numpy

|Data Science Tools|
|------------------|
|anaconda|
|rstudio|
|git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min=200
hours=min/60
print("the convertion is:",hours)

the convertion is: 3.3333333333333335

# *Objectives:*
- python
- R
- SPSS

## author:
s sembon surakshitha